<link rel="stylesheet" href="/css/styles.css">
<div id="navbar">
    <h1 class="navtitle">Mongo News Machine</h1>
    <button class="navbutton" id="latest" 
        onclick="window.location.href='/'">latest stories</button>
    <button class="navbutton" id="saved" 
        onclick="window.location.href='/articles/saved'">view saved
    </button>
</div>
<div id="articles">
{{#each articles}}
    <div class="news-item-card" id="{{id}}">
        <h3 class='cardtitle'>{{title}}</h3>
        <button class='cardbutton' onClick="window.open('{{link}}');">
            read</button>
        <button class='cardbutton' onclick='
            console.log({
                    title: "{{title}}",
                    snippet: "{{snippet}}",
                    link: "{{link}}"
                });
            {{!-- // post to save api --}}
            $.ajax({
                type: "POST",
                url: "/api/save",
                data: {
                    title: "{{title}}",
                    snippet: "{{snippet}}",
                    link: "{{link}}"
                },
                success: () => fadecard("{{id}}", "saved"),
            });            
        '>
        save -></button>
        <br>
        <p>{{snippet}}</p>
    </div>
{{/each}}
</div>
<script>
    function fadecard(id, action) {
        // post to saved articles
        // show that it's been saved.
        $(`#${id}`).html(`article ${action}.`);
        // collapse and disappear after a second
        setTimeout(() => {
            $(`#${id}`)
            .animate({height: 0, padding: 0, margin: 0, border: 0}, 500, function() {
                // clear text as well
                $(this).html("");
                // delete it
                $(this).remove();
            })
        }, 1000)
    }
    $(document).ready(() => {
        // light up the appropriate tab button
        $("#{{view}}").addClass("highlight");
    })
</script>