<link rel="stylesheet" href="/css/styles.css">
<script src="/news.js"></script>
<div id="navbar">
    <h1 class="navtitle">Mongo News Machine</h1>
    <button class="navbutton" id="latest" onclick="window.location.href='/'">latest stories</button>
    <button class="navbutton highlight" id="saved" onclick="window.location.href='/articles/saved'">view saved
    </button>
</div>
<div id="articles">
    {{#each articles}}
    <div class="news-item-card" id="{{id}}">
        <h3 class='cardtitle'>{{title}}</h3>
        <button class='cardbutton' onclick='
            {{!-- // post to remove api --}}
            $.ajax({
                type: "POST",
                url: "/api/remove",
                data: {
                    title: "{{title}}",
                },
                success: () => fadecard("{{id}}", "removed"),
            });            
        '>
            <- remove</button>
        <button class='cardbutton' onClick="window.open('{{link}}');">
            read</button>
        <br> <br>
        {{!-- notes --}}
        <div class="noteWindow">
            <div id="notes-{{id}}">
                {{#each notes}}
                    {{!-- this one is tagged with the unique ID for the note
                    as opposed to the id for the article. different. --}}
                    <p id="note-{{id}}">{{text}}
                        <button class="deleteNote" 
                            id="deleteNote-{{id}}"
                            onClick="deleteNote('{{../id}}', '{{id}}')">
                            X
                        </button>
                    </p>
                {{/each}}
            </div>
            <div id="noteForm">
                <button id="newNoteButton-{{id}}" onClick="takeNote('{{id}}')">new note</button>
                <form class="noteInput" id="noteInput-{{id}}" data-id="{{id}}">
                    <input id="newnote-{{id}}" type="text">
                    <br><br>
                    <button type="submit" class="submitButton">
                        submit</button>
                </form>
            </div>
        </div>
        <p>{{snippet}}</p>
    </div>
    {{/each}}
</div>
<script>
    function takeNote(id) {
        console.log("taking notes on: ", id);
        $(`#noteInput-${id}`).show();
        $(`#newnote-${id}`).focus();
        $(`#newNoteButton-${id}`).hide();
    }
    function deleteNote(articleId, noteId) {
        console.log("deleting note: ", noteId);
        // call to api
        $.ajax({
            type: "DELETE",
            url: `/api/${articleId}/notes/${noteId}`,
            data: {
                id: noteId,
            },
            success: function () {
                $(`#note-${noteId}`).remove();
            }
        });
    }
    // set up events for note buttons
    $(document).ready(() => {
        $(".noteInput").submit(function(event) {
            // we want to stay on this page
            event.preventDefault();
            // get article ID
            let id = $(this).data("id");
            // don't accept a blank note
            if (!$(`#newnote-${id}`).val()) {
                console.log("rejecting blank note.");
                return;
            } 
            console.log("submitting note on: ", id);
            $.ajax({
                type: "POST",
                url: `/articles/${id}`,
                data: {
                    text: $(`#newnote-${id}`).val(),
                },
                success: function (note) {
                    // append the new note
                    $(`#notes-${id}`).append(
                        // add note paragraph
                        $("<p>")
                            .attr("id", `note-${note._id}`)
                            .text(note.text)
                            // add delete button
                            .append($("<button>")
                                .addClass("deleteNote")
                                .attr("id", `deleteNote-${note._id}`)
                                .click(() => {deleteNote(id, note._id)})
                                .text("X")
                            )
                    );
                    // hide the note taking form
                    $(`#newnote-${id}`).val("");
                    $(`#noteInput-${id}`).hide();
                    // show the new note button
                    $(`#newNoteButton-${id}`).show();
                }
            });
        })
    })
</script>
